*{
  margin: 0;;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
body{
  background-image: url('background.jpg');
}
.main-container{
  display: flex;
  align-items: center;
  height: 100vh;
}
.btn-container{
  margin: 0 auto;
  flex-wrap: wrap;
}

.drumbtn{
  display: flex;
  border: 3px solid black;
  width: 7.5rem;
  height: 7.5rem;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 1.5rem;
  transition: all 0.07s;
}
.drumbtn.selected{
  border-color: orange;
  transform: scale(1.1);
  box-shadow: 0 0 5px 1px orange;
}
h1{
  color: white;
}
p{
  color: orange;
}